* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ededed;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

#art-container {
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.75);
    background-color: white;
}

.boxSize1, .boxSize2, .boxSize3 {
    user-select: none;
}

.boxSize1 {
    min-width: 25px;
    min-height: 25px;
    flex: 1;
}

.boxSize2 {
    min-width: 10px;
    min-height: 10px;
    flex: 1;
}

.boxSize3 {
    min-width: 5px;
    min-height: 5px;
    flex: 1;
}

/*color-picker*/

.color-picker {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .color-picker {
        flex-direction: row;
    }
}

.color-picker div {
    min-width: 15px;
    min-height: 15px;
    flex: 1;
    cursor: pointer;
}

.color-label {
    padding: 15px;
    text-align: center;
}

.color-chosen {
    border: 3px solid rgba(255,255,255,1);;
}

#white {
    background-color: white;
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#indigo {
    background-color: indigo;
}

#violet {
    background-color: violet;
}

/*input-value*/

select {
    padding: 5px;
    border: 3px solid black;
    border-radius: 25px;
    background-color: white;
    font-weight: bolder;
    text-align: center;
}

select:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

select option {
    background-color: white;
    color: black;
}

/*header*/

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
    font-weight: bolder;
}

.heading p {
    font-size: small;
    font-weight: lighter;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
    transition: 0.5s;
}

/*reset button*/

#resetbtn, #shaders {
    padding: 5px;
    box-shadow: none;
    border-radius: 25px;
    border: 3px solid black;
    cursor: pointer;
    background-color: white;
    font-weight: bolder;
}

#resetbtn:hover, #shaders:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

#rainbow {
    padding: 5px;
    display: inline;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
    color: white;
    border: 3px solid black;
    text-shadow: 0px 0px 5px #000000;
}

#rainbow:before {
    content: '';
    position: absolute;
    background-color: black;
    left: 5px;
    top: 5px;
}

#rainbow:after {
    content: '';
    position: absolute;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    
}

@keyframes move {
    to {background-position: 100vh;}
}

#rainbow:hover {
    animation: move 30s linear infinite;
}

/*settings*/

#settings {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.75);
    background-color: white;
    flex-wrap: wrap;
    width: 200px;
    padding: 5px;
}