* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ededed;
}

.mainer-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#container {
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.75);
    background-color: white;
}

.boxSize1, .boxSize2, .boxSize3 {
    user-select: none;
}

.boxSize1 {
    min-width: 25px;
    min-height: 25px;
    flex: 1;
}

.boxSize2 {
    min-width: 10px;
    min-height: 10px;
    flex: 1;
}

.boxSize3 {
    min-width: 5px;
    min-height: 5px;
    flex: 1;
}

/*color-picker*/

.color-picker {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.color-picker div {
    min-width: 15px;
    min-height: 15px;
    flex: 1;
    cursor: pointer;
}

.color-label {
    padding: 15px;
    text-align: center;
}

.color-chosen {
    border: 3px solid rgba(255,255,255,1);;
}

#white {
    background-color: white;
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#indigo {
    background-color: indigo;
}

#violet {
    background-color: violet;
}

/*input-value*/

select {
    padding: 5px;
    border: 3px solid black;
    border-radius: 25px;
    background-color: white;
    font-weight: bolder;
}

select:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

select option {
    background-color: white;
    color: black;
}

/*header*/

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
    font-weight: bolder;
}

.heading p {
    font-size: small;
    font-weight: lighter;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
    transition: 0.5s;
}

/*reset button*/

#resetbtn, #rainbow, #shaders {
    padding: 5px;
    box-shadow: none;
    border-radius: 25px;
    border: 3px solid black;
    cursor: pointer;
    background-color: white;
    font-weight: bolder;
}

#resetbtn:hover, #rainbow:hover, #shaders:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

/*settings*/

#settings {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.75);
    background-color: white;
    flex-wrap: wrap;
    max-width: 200px;
    padding: 5px;
}