* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(320deg, #00a1ff, #00ff8f);
}

p {
    font-size: 26px;
    color: black;
    padding: 25px;
}

.header {
    display: flex;
    justify-content: center
}

.info-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.options {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 25px;
    flex-wrap: wrap;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    border-radius: 25px;
    padding: 25px;
}

.options button {
    width: 160px;
    height: 160px;
}