* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

p {
    font-size: 26px;
    color: black;
    padding: 25px;
}

.header {
    display: flex;
    justify-content: center
}

.info-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.options div {
    background-color: black;
    height: 150px;
    width: 150px;
    margin: 25px;
}