* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(320deg, #00a1ff, #00ff8f);
}

h1 {
    font-size: 40px;
    margin: 15px;
}

h2 {
    margin: 15px;
}

p {
    font-size: 26px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 10px 10px;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
}

.info-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.info-box p {
    border: 5px solid black;
    padding: 5px;
}

#playerScore {
    background-color: #00ff8f;
}

#enemyScore {
    background-color: rgb(255, 135, 135);
}

#currentRound {
    background-color: rgb(185, 185, 185);
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    box-shadow: 10px 10px;
    background-color: white;
    /*box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    border-radius: 25px;*/
    padding: 25px;
    gap: 15px;
}

.gameButtons {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.options button {
    width: 160px;
    height: 160px;
    font-size: 35px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 0px;
}

#resetGame {
    width: 50px;
    height: 25px;
    font-size: small;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
    transition: 0.5s;
    cursor: pointer;
}